body {background: rgba(82, 76, 76, 0.055);
    position: static;}

/*Header*/
a.name {background: darkred;
    position: absolute;
    left: 200px;
    padding: 20px;
    width: 230px;
    height: 42px;
    top: 0;
    text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 28px;}

header {background: #ffffff;
    border: 2px solid #cccccc;
    position: absolute;
    padding: 20px;
    width: 1930px;
    height: 40px;
    top: 0;
    margin-left: -15px;}

a.links {position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #777777;
    text-decoration: none;
    left: 49%;
    top: 5px;}

.main {background: white;
    border: 2px solid #dddddd;
    position: absolute;
    margin-top: 140px;
    left: 200px;
    padding: 20px;
    width: 1000px;
    height: 600px;}

/*Contact*/
h1 {color: darkred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    margin-top: 25px;}

/*Name*/
h2 {font-size: 20px;
    color: #777777;
    margin-bottom: 5px;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif}

/*Email*/
h3 {font-size: 20px;
    color: #777777;
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif}

/*Message*/
h4 {font-size: 20px;
    color: #777777;
    margin-bottom: 5px;
    margin-top: 13px;
    font-family: Arial, Helvetica, sans-serif}

/*About link*/
h5 {float:left;
    margin-top: 5px;
    font-size: 20px;
    margin-left: 940px;
    margin-right: 10px}
    
/*Portfolio link*/
h6 {float: left;
    margin-top: 5px;
    font-size: 20px;
    margin-left: 0px;}
/*Contact link*/
h7 {float:left;
    margin-left: 10px;
    margin-top: 5px;}

/*Divider*/
#horizontal-line {background-color: #dddddd;
    width: 98.3%;
    height: 4px;
    margin-top: 25px;}

/*Name and Email Inputs*/
input {width: 97.9%;
    height: 20px;
    border: 2px solid #dddddd;
    text-align: left;
    line-height: 15px;}

/*Message text box*/
textarea {border: 2px solid #dddddd;
    margin-top: 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif}

/*Footer*/
.footerbackground {background: #666666;
    padding: 30px;
    width: 1906px;
    height: 10px;
    margin-left: -10px;
    position: relative;
    bottom: -875px;}

.footercompliment {background: darkred;
    padding: 8px;
    width: 1950px;
    height: 0;
    margin-left: -10px;
    position: relative;
    bottom: -800px;}