body {background: rgba(82, 76, 76, 0.055);
        position: static;}
/*Header*/
a.name {background: darkred;
        position: absolute;
        left: 200px;
        padding: 20px;
        width: 230px;
        height: 42px;
        top: 0px;
        text-align: center;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        font-size: 28px;}

header {background: #ffffff;
        border: 2px solid #cccccc;
        position: absolute;
        padding: 20px;
        width: 1925px;
        height: 41px;
        top: 0;
        margin-left: -15px;}

a.links {position: relative;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        color: #777777;
        text-decoration: none;
        left: 950px;
        top: 5px;}

/*Main Content*/
.main {background: white;
        border: 2px solid #dddddd;
        position: relative;
        top: 138px;
        left: 186px;
        padding: 20px;
        width: 1000px;
        height: 600px;}

/*About Me*/
h1 {color: darkred;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 28px;
        top: 4%;}

/*About link*/
h2 {float:left;
        position: static;
        margin-top: 5px;
        font-size: 20px;
        margin-left: 900px;
        margin-right: 10px}
        
/*Portfolio link*/
h3 {float: left;
        position: relative;
        margin-top: 5px;
        font-size: 20px;
        margin-left: 0px;}

/*Contact link*/
h4 {float:left;
        position: relative;
        margin-left: 10px;
        margin-top: 5px;}

/*divider*/
#horizontal-line {background-color: #dddddd;
        width: 98%;
        height: 4px;
        margin-top: 30px;}

/*My Image*/        
#myimage {float: left;
        padding: 10px;
        margin-left: -10px;
        margin-right: 10px;
        width: 20%;
        height: 35%; 
        margin-top: 27px;}

/*Quick Bio*/        
p {font-family: Arial, Helvetica, sans-serif;
        color: #777777;
        margin-top: 26px;
        line-height: 35px;}

/*Footer*/
.footerbackground {background: #666666;
        padding: 20px;
        width: 1926px;
        height: 30px;
        margin-left: -10px;
        position: relative;
        margin-top: 220px}
    
.footercompliment {background: darkred;
        padding: 8px;
        width: 1950px;
        height: 0;
        margin-left: -10px;
        margin-top: -85px;
        position: relative;}

